<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title th:text="#{label.titulo.aplicacion}"></title>
</head>
<body>
	<div class="container">
		<div class="col-md-offset-1 col-md-10">
			<h3 class="text-center">
				<span th:text="#{label.titulo.realestate}"></span>
			</h3>
			<hr />
			
			<div class="panel-body">
				<table class="table table-striped table-bordered">
					<tr>
					<th><span th:text="#{label.arrendador.nombre1}"></span></th>
					<th><span th:text="#{label.arrendador.nombre2}"></span></th>
					<th><span th:text="#{label.arrendador.apellido_paterno}"></span></th>
					<th><span th:text="#{label.arrendador.apellido_materno}"></span></th>
					<th><span th:text="#{label.arrendador.edad}"></span></th>
					<th><span th:text="#{label.arrendador.correo}"></span></th>
					<th><span th:text="#{label.arrendador.celular}"></span></th>
					<th><span th:text="#{label.arrendador.direccion1}"></span></th>
					<th><span th:text="#{label.arrendador.pais}"></span></th>
					<th><span th:text="#{label.arrendador.ciudad}"></span></th>
					<th><span th:text="#{label.arrendador.estado}"></span></th>
					<th><span th:text="#{label.arrendador.cp}"></span></th>
					</tr>
					
					<tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>