<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Crear Real Estate</title>
</head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<body>
	<h2 th:object="${realEstate}">Nuevo Real Estate para Arrendador <span th:text="${idArrendador}">x</span></h2>
	<div class="bd-content ps-lg-4">
		<form method="post" class="col card p-3 mb-5" action="#"
			th:action="@{/guardarNuevoRealEstate}" th:object="${realEstate}">
			<input type="hidden"
						th:field="*{arrendadadorId}" />
			<table class="table table-striped">
				<tr>
					<td>Direccion1:</td>
					<td><input class="form-control" type="text"
						th:field="*{direccion.direccion1}" /></td>
				</tr>
				<tr>
					<td>Direccion2:</td>
					<td><input class="form-control" type="text"
						th:field="*{direccion.direccion2}" /></td>
				</tr>
				<tr>
					<td>Pais:</td>
					<td><input class="form-control" type="text"
						th:field="*{direccion.pais}" /></td>
				</tr>
				<tr>
					<td>Ciudad:</td>
					<td><input class="form-control" type="text"
						th:field="*{direccion.ciudad}" /></td>
				</tr>
				<tr>
					<td>Estado:</td>
					<td><input class="form-control" type="text"
						th:field="*{direccion.estado}" /></td>
				</tr>
				<tr>
					<td>Codigo Postal:</td>
					<td><input class="form-control" type="text"
						th:field="*{direccion.codigoPostal}" /></td>
				</tr>
				<tr>
					<td>Costo Minimo:</td>
					<td><input class="form-control" type="text"
						th:field="*{costoMin}" /></td>
				</tr>
				<tr>
					<td colspan="2"><button class="btn btn-primary" type="submit">Guardar</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>